{
  "presets": ["es2015-webpack", "react", "stage-0", "airbnb"],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "plugins": [
        ["__coverage__", {"ignore": "*.+(test|stub).*"}]
      ]
    }
  }
}
